params {
    reads  = "raw_reads/*.fastq.gz"
    outdir = "results"
}

docker {
    enabled    = true
    runOptions = '-u $(id -u):$(id -g)'
}

executor {
    queueSize = 1
}

process {
    cpus   = 2
    memory = '3 GB'

    withName: QC_LONGREAD {
        cpus   = 2
        memory = '3 GB'
    }
    withName: DEDUP_READS {
        cpus   = 2
        memory = '3 GB'
    }
    withName: FILTER_READS {
        cpus   = 2
        memory = '3 GB'
    }
    withName: ASSEMBLY {
        cpus   = 4
        memory = '8 GB'
    }
    withName: POLISH {
        cpus   = 4
        memory = '6 GB'
    }
    withName: ANNOTATE {
        cpus   = 4
        memory = '6 GB'
    }
    withName: COMPARE_GENOMES {
        cpus   = 4
        memory = '6 GB'
    }
}

profiles {
    docker {
        docker.enabled    = true
        docker.runOptions = '-u $(id -u):$(id -g)'
    }
    local {
        docker.enabled = false
    }
}

report {
    enabled   = true
    file      = "${params.outdir}/reports/pipeline_report.html"
    overwrite = true
}

timeline {
    enabled   = true
    file      = "${params.outdir}/reports/pipeline_timeline.html"
    overwrite = true
}

trace {
    enabled   = true
    file      = "${params.outdir}/reports/pipeline_trace.txt"
    overwrite = true
}

dag {
    enabled   = true
    file      = "${params.outdir}/reports/pipeline_dag.html"
    overwrite = true
}

manifest {
    name            = 'ProbioLR-NF'
    author          = 'Stuart'
    description     = 'Long-read genomics of probiotic bacteria: a reproducible Nextflow + Docker + R pipeline for genome assembly and functional trait discovery'
    mainScript      = 'main.nf'
    nextflowVersion = '>=23.04.0'
    version         = '1.0.0'
}
